/* loader css */

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loader {
  border: 16px solid cyan;
  border-top: 16px solid #354463;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* countries css start here */

#header-content {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: orangered;
}

#filter {
  border-width: 200;
  height: 30px;
  width: 400px;
}

#country-arrange-options {
  height: 35px;
  width: 300px;
  background-color: white;
  border: none;
}

#country {
  box-sizing: border-box;
  padding-top: 2%;
  padding-left: 3%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: lightcyan;
}

.country-detail {
  padding: 5%;
  margin-left: 3%;
  background-color: white;
  width: 320px;
  margin-bottom: 4%;
  background-color: lightyellow;
  border-radius: 5%;
}

.country-flag {
  height: 192px;
  width: 320px;
}

#country-data-div {
  box-sizing: border-box;
  height: 500px;
  width: 1100px;
  background-color: rgb(245, 241, 241);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  position: fixed;
  bottom: 30%;
  right: 20%;
}

#country-other-details {
  width: 35%;
  margin-left: 4%;
  padding-top: 0%;
}

.countryData-flag {
  height: 350px;
  width: 500px;
  display: inline;
  margin-left: 6%;
}

#cancel-button {
  background-color: lightseagreen;
  color: white;
  height: 40px;
  width: 150px;
  font-size: 16px;
}

#cancel-button:hover {
  background-color: white;
  color: black;
}




